// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.li_service {
    list-style-type: none;
    border: 1px solid gray;
    padding: 1rem;
    margin: 5px;

}

.img-rounded,
.book_date_guest,
.book_form,
.book-btn {
    border-radius: 1.5rem;
}


.img-rounded {
    object-fit: cover;
}

.bold {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

.content {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.book_form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.check-in {
    border-top-left-radius: 1.5rem;
    border-right: 1px solid gray;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.check-out {
    border-top-right-radius: 1.5rem;
    border: none;
}

.guest {
    border: none;
    border-top: 1px solid gray;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.white{
    color: white;
}

.buttons{
    a, button{
        color: white;
    }
} 

body {
    overflow-y: hidden;
}

@media  screen and (min-width:0px) and (max-width:767px){
    .center{
        text-align: center;
    }

    .block{
        flex-direction: column;
        align-items: baseline !important;
    }
}