// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

a {
    text-decoration: none;
}

.li_service {
    list-style-type: none;
    border: 1px solid black;
    // padding: 1rem;
    margin: 5px;
    border-radius: 15px;
    .fa-solid{
        font-size: 1.5rem;
    }
}

.img-rounded,
.book_date_guest,
.book_form,
.book-btn {
    border-radius: 1.5rem;
}


.img-rounded {
    object-fit: cover;
}

.bold {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

.content {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.book_form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.check-in {
    border-top-left-radius: 1.5rem;
    border-right: 1px solid gray;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.check-out {
    border-top-right-radius: 1.5rem;
    border: none;
}

.guest {
    border: none;
    border-top: 1px solid gray;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.white{
    color: white;
}

.buttons{
    a, button{
        color: white;
    }
}

body {
    overflow-y: hidden;
}


////bottoni////
.mod_btn{
    border-radius: 50px;
    padding: 0.5rem 0.7rem;
}

.btn_pink{
    border: solid 3px #FF385C;
    background-color: #FF385C;
    font-weight: bold;
    color: white;
    &:hover{
        color: white;
        box-shadow: 0px 2px 5px 2px rgb(0,0,0,0.4);
    }
    &:active{
        border: solid 3px #eb3557;
        background-color: #eb3557;
        color: white;
        box-shadow: 0px 2px 5px 2px rgb(0,0,0,0.4);
    }
}

.btn_pink_border{
    border: solid 3px #FF385C;
    color: #FF385C;
    &:hover{
        background-color: #FF385C;
        font-weight: bold;
        color: white;
    }
    &:active{
        background-color: #eb3557;
        font-weight: bold;
        color: white;
    }
}

.btn_grey_border{
    border: solid 3px #747474;
    color: #747474;
    &:hover{
        background-color: #747474;
        font-weight: bold;
        color: white;
    }
    &:active{
        background-color: #5c5c5c;
        font-weight: bold;
        color: white;
    }
}

.btn_red_border{
    border: solid 3px #e3342f;
    color: #e3342f;
    &:hover{
        background-color: #e3342f;
        font-weight: bold;
        color: white;
    }
    &:active{
        background-color: #ca2f29;
        font-weight: bold;
        color: white;
    }
}

///testi///
.form_title{
    font-size: 1.2em;
    font-weight: bold;
    // color: #FF385C;
    color: #747474;
}

.section_title{
    font-size: 1.7em;
    font-weight: bold;
}

.tiny_text{
    font-size: .8em;
    color: #747474;
}

// classe di bootstrap modificata
.form-control:focus{
    border-color: none;
    box-shadow: none;
}

// classe di bootstrap modificata
.form-check-input:checked{
    background-color: #FF385C;
    border: #FF385C;
    color: white;
}

.form_textbox{
    border-bottom: solid 3px #747474;
    &:focus{
        border: solid 1px #747474;
        border-bottom: solid 3px #FF385C;
    }
}

.create, .edit{
    .back{
        display:inline-block;
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            border-bottom: solid 1px#747474;
            padding: .5rem 1rem;
            color: #747474;
            &:hover{
                cursor: pointer;
                // font-weight: bold;
                color:white;
                background-color: #b9b9b9;
            }
        }
    }
}

.braintree {
    .button {
        cursor: pointer;
        font-weight: 500;
        left: 3px;
        line-height: inherit;
        position: relative;
        text-decoration: none;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
    }

    .button--small {
        padding: 10px 20px;
        font-size: 0.875rem;
    }

    .button--green {
        outline: none;
        background-color: #64d18a;
        border-color: #64d18a;
        color: white;
        transition: all 200ms ease;
    }

    .button--green:hover {
        background-color: #8bdda8;
        color: white;
    }
}

//carte sponsorizzazioni

.sponsor-card {
    border: 2px solid gray;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            line-height: 1.2rem;
            margin-top: 20px;
        }
    }
}

.flip-card {
    width: 320px;
    height: 500px;
    margin: 20px;
    border: 5px solid  #34568B;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-front {
    color: black;
  }
  .flip-card-back {
    width: 100%;
    transform: rotateY(180deg);
    overflow-y: auto;
  }