// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// classe boostrap sovreascritta
.navbar-light .navbar-toggler{
    border-color: rgba(0, 0, 0, 0.0);
    &:focus {
        box-shadow: 0 0 0 0.15rem #FF385F;
    }
}

a {
    text-decoration: none;
}

.li_service {
    list-style-type: none;
    border-radius: 15px;
    .fa-solid{
        font-size: 1.5rem;
    }
}

.img-rounded,
.book_date_guest,
.book_form,
.book-btn {
    border-radius: 1.5rem;
}

.img_Boolbnb {
    width: 40px;
}

.img-rounded {
    object-fit: cover;
}

.bold {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

.content {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.book_form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.check-in {
    border-top-left-radius: 1.5rem;
    border-right: 1px solid gray;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.check-out {
    border-top-right-radius: 1.5rem;
    border: none;
}

.guest {
    border: none;
    border-top: 1px solid gray;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.white{
    color: white;
}

body {
    overflow-y: hidden;
}

// bottoni
.mod_btn{
    border-radius: 50px;
    padding: 0.5rem 0.7rem;
    &:hover{
        cursor: pointer;
    }
}

.btn_pink{
    border: solid 3px #FF385C;
    background-color: #FF385C;
    font-weight: bold;
    color: white;
    &:hover{
        color: white;
        box-shadow: 0px 2px 5px 2px rgb(0,0,0,0.4);
    }
    &:active{
        border: solid 3px #eb3557;
        background-color: #eb3557;
        color: white;
        box-shadow: 0px 2px 5px 2px rgb(0,0,0,0.4);
    }
}

.btn_pink_border{
    border: solid 3px #FF385C;
    color: #FF385C;
    &:hover{
        background-color: #FF385C;
        font-weight: bold;
        color: white;
    }
    &:active{
        background-color: #eb3557;
        font-weight: bold;
        color: white;
    }
}

.btn_grey_border{
    border: solid 3px #747474;
    color: #747474;
    &:hover{
        background-color: #747474;
        font-weight: bold;
        color: white;
    }
    &:active{
        border: solid 3px #5c5c5c;
        background-color: #5c5c5c;
        font-weight: bold;
        color: white;
    }
}

.btn_red{
    border: solid 3px #e3342f;
    background-color: #e3342f;
    color: white;
    &:hover{
        font-weight: bold;
        color: white;
        border: solid 3px #ca2f29;
        background-color: #ca2f29;
    }
    &:active{
        border: solid 3px #96231f;
        background-color: #96231f;
        color: white;;
    }
}

.btn_red_border{
    border: solid 3px #e3342f;
    color: #e3342f;
    &:hover{
        background-color: #e3342f;
        font-weight: bold;
        color: white;
    }
    &:active{
        background-color: #ca2f29;
        font-weight: bold;
        color: white;
    }
}

.close{
    border-radius: 50px;
    padding: 0.5rem 0.8rem;
    // border-radius: 50%;
    // padding: 0.5rem;
}

.buttons{
    a, button{
        color: white;
    }
}


// testi
.section_title{
    font-size: 1.7em;
    font-weight: bold;
}

.form_title{
    font-size: 1.2em;
    font-weight: bold;
    color: #747474;
}

.tiny_text{
    font-size: .8em;
    color: #747474;
}


// classe di bootstrap modificata
.form-control:focus{
    border-color: none;
    box-shadow: none;
}

.pink_text{
    color: #FF385C;
}

.red_text{
    color: #e3342f;
}

.form-check-input:checked{
    background-color: #FF385C;
    border: #FF385C;
    color: white;
}

.form_textbox{
    border-radius: 50px;
    border-bottom: solid 3px #747474;
    &:focus{
        border: solid 1px #747474;
        border-bottom: solid 3px #FF385C;
    }
}

.boder-25{
    border-radius: 25px;
}

#navbarSupportedContent{
    .dropdown-menu{
        border-radius: 30px;
    }
    .dropdown-item{
        padding: 1rem .5rem;
        border-radius: 15px;
    }
    .btn_logout{
        text-align: center;
        display: block;
        width:100%;
        border: solid 3px #e3342f;
        background-color: #e3342f;
        color: white;
        &:hover{
            font-weight: bold;
            color: white;
            border: solid 3px #ca2f29;
            background-color: #ca2f29;
        }
        &:active{
            border: solid 3px #96231f;
            background-color: #96231f;
            color: white;;
        }
    }
}

.login, .register{
    .mod_card{
        .form-group{
            .form_title{
                font-size: 1em;
            }
        }
        border-radius: 15px;
    }
}

.create, .edit, .research{
    .back{
        display:inline-block;
    }
    .relative_ul{
        position: relative;
    }

    ul{
        z-index: 100;
        width: 100%;
        position: absolute;
        background-color: white;
        list-style-type: none;
        padding: 0;
        box-shadow: 0px 2px 5px 2px rgb(0,0,0,0.4);
        border-radius: 15px;
        li{
            border-bottom: solid 1px#747474;
            padding: .5rem 1rem;
            color: #747474;
            border-radius: 15px;
            &:hover{
                cursor: pointer;
                color:white;
                background-color: #b9b9b9;
            }
            &:active{
                background-color: #747474;
            }
        }
    }
    span{
        display: block;
    }
}

.edit{
    .sec_img_container{
        position: relative;
    }

    .btn_delete_img{
        position: absolute;
        top: 10;
        right: 20px;
        border-radius: 50px;

        border: solid 3px #e3342f;
        background-color: #e3342f;
        color: #ffffff;
        &:hover{
            border: solid 3px #fff;

            background-color: #ffffff;
            color: #e3342f;
        }
        &:active{
            border: solid 3px #fff;

            background-color: #ffffff;
            color: #ca2f29;
        }
    }
    .buttons_container{
        display: inline;
    }
    .span_container{
        width: 100%;
    }
}

.research{
    background-color: white;
    border-bottom: 2px solid lightgray;
    #btn_research{
        z-index: 101;
        align-self:flex-start;
        position: relative;
        padding: 0.4rem 0.7rem;
    }
    .none{
        border: 2px solid darkgrey;
        background-color: darkgrey;
        cursor: not-allowed;
        &:hover{
            box-shadow: none;
        }
    }
    .block{
        display: block;
    }
}

.sponsored, .recent{
    h1{
        font-size: 1.5em;
        font-weight: bold;
    }
}

.sticky-main {
    padding-bottom: 5rem;
    .show{
        .service_container {
            list-style-type: none;
            height: 100%;
            background-color: #dedede;
            padding: 1.3rem 0.3rem 0.3rem 0.3rem;
            border-radius: 15px;

            .fa-solid{
                font-size: 1.5rem;
            }
        }
        #map {
            height: 100%;
            max-height: 900px;
            min-height: 30rem;
         }

        span{
            display:inline-block;
        }

        .map{
            border-radius: 15px;
            width: 100%;
            height: 300px;
            background-color: #b9b9b9;
        }

        .book_form{
            position: sticky;
            display: block;
            top: 3rem;
        }
        .be_sticky {
            position: fixed;
            display: block;
            bottom: 0;
            left:0;
            right:0;
            border-top: solid 2px #747474;
            background-color: white;
            // height: 2rem;
        }
        .toggle_form{
            height: 0;
            opacity: 0;
            overflow-y: hidden;
            &.open{
                transition: 0.2s ease-in-out;
                padding-bottom: 6.5rem;
                overflow-Y: auto;
                opacity: 1;
                background-color: white;
                height: calc(100vh - 5rem);
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}

.chart{
    form{
        float: right;
    }
    #interval{
        padding: 1rem;
        padding: 0.8rem 0.5rem;
        border-radius: 50px;
        &:hover{
            background-color: #dedede;
        }
    }
}

@media screen and (min-width: 576px) {
    .sticky-main {
        padding-bottom: 0;
    }
}

.braintree {
    .button {
        cursor: pointer;
        font-weight: 500;
        left: 3px;
        line-height: inherit;
        position: relative;
        text-decoration: none;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
    }

    .button--small {
        padding: 10px 20px;
        font-size: 0.875rem;
    }

    .button--green {
        outline: none;
        background-color: #64d18a;
        border-color: #64d18a;
        color: white;
        transition: all 200ms ease;
    }

    .button--green:hover {
        background-color: #8bdda8;
        color: white;
    }
}


//carte sponsorizzazioni
html {
    height: 100vh;
}
body {
    height: 100%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 80px;
    z-index: 1200;
}
main {
    margin-top: 80px;
    padding-bottom: 1rem;
    overflow-y: auto;
    height: calc(100% - 80px);
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}

.sponsor-card {
    border: 2px solid gray;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            line-height: 1.2rem;
            margin-top: 20px;
        }
    }
}

.flip-card {
    width: 320px;
    height: 500px;
    margin: 20px;
    border: 5px solid  #34568B;
    background: linear-gradient(45deg, rgba(253,171,45,1) 0%, rgba(253,238,45,1) 100%);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    width: 100%;
    transform: rotateY(180deg);
    overflow-y: auto;
  }


// errori validazioni lato Client per create ed edit
.balloon {
	position: relative;
	max-width: 30em;
	background-color: #fff;
	padding: 0.8rem;
	font-size: 0.9rem;
    text-transform: uppercase;
	border-radius: 1rem;
    color: red;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.balloon::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; // offset should move with padding of parent
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}


// colori Boolbnb, bottoni e cards
.red{
    color: rgb(241, 91, 94);
}

.bkg_red{
    background-color: rgb(241, 91, 94);
    border: none;
}

.bkg-yellow{
    background: linear-gradient(45deg, rgba(253,171,45,1) 0%, rgba(253,238,45,1) 100%);
}

.card_grey{
    background-color: lightgrey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}


// body overflow
// .my_houses{
//     height: calc(100vh - 66.23px);
//     overflow-y: auto;
// }


// overflow messaggi e media query
.overflow{
    overflow-wrap: break-word;
}


@media  screen and (max-width:767px){
    .overflow{
        h4, h5{
            font-size: 15px;
        }
    }
}

@media  screen and (max-width:575px){
    .btn_back{
        text-align: center;
        margin: 1.5rem  !important;
    }
}